:root {
    --title-font-color: white;
    --main-bg-color: white;
    --form-font-family: 'Roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --slightly-darker-bg: #eee;
    --main-contents-padding: 4rem;
    --form-bg-color: white;
}

@font-face {
    font-family: title-font;
    src: url(./font/DamarisChana-4B1G9.woff);
    }

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

html, body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

label {
    display: block;
    margin: 0.3rem 0rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.sidebar {
    width: max(45vw, 1000px);
    min-width: min(45vh, 800px);
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: inherit;
    position: relative;
}

.logo {
    height: 15rem;
}

.page-title {
    color: var(--title-font-color);
    text-align: center;
    font-size: 3rem;
    font-family: title-font;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    position: relative;
    top: 12rem;
    padding: 2rem 1rem;
    flex-wrap: wrap;
}

.intro {
    font-size: 1.5rem;
    font-weight: 300;
    padding-left: var(--main-contents-padding);
    padding-right: var(--main-contents-padding);
    padding-bottom: 3rem;
}

.intro > p:first-of-type {
    font-size: larger;
    font-weight: 700;
}

span.title {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.form-container {
    padding-left: var(--main-contents-padding);
    padding-right: var(--main-contents-padding);
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--form-bg-color);
    box-shadow: 0px 13px 26px -17px rgba(0,0,0,0.77);
    -webkit-box-shadow: 0px 13px 26px -17px rgba(0,0,0,0.77);
    -moz-box-shadow: 0px 13px 26px -17px rgba(0,0,0,0.77);
}

.main {
    display: flex;
    flex-direction: column;
    height: inherit;
    align-content: center;
    justify-content: center;
    background-color: var(--main-bg-color);
    font-family: var(--form-font-family);
    background-color: var(--slightly-darker-bg);
    width: 100%;
}

.account-actions {
    padding-top: 3rem;
    padding-left: var(--main-contents-padding);
    padding-right: var(--main-contents-padding);
}

.account-actions > * {
    margin: 0.5rem 0;
}

.account-actions button {
    padding: 0.7rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--title-font-color);
    background-color: #224701;
    border-radius: 0.5rem;
    border-width: 0;
    letter-spacing: 0.1rem;
}

.account-actions button:hover {
    background-color: #356e03;
}

.page {
    display: flex;
    height: inherit;
}

table td{
    padding: 1rem 10vw 1rem 0px ;
    width: auto;
}

table {
    min-width: max(50vw, 600px);
    
}

input {
    width: 15rem;
    height: 2.3rem;
    border: 1px solid #E5E7EB;
    border-radius: 0.2rem;
    font-size: clamp(12px, 1rem, 5vh);
    font-family: var(--form-font-family);
    padding: 0.1rem 0.6rem;
}

input:default {
    border-color: darkblue;
}

/* input:user-invalid {
    border-color: darkred;
} */

input:invalid {
    border-color: darkred;
}

input:focus {
    border: 1px solid darkblue;
    /* border-style: inset; */
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.38);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.38); 
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

td.error::after {
    content: attr(data-content);
    color: darkred;
    display: block;
    font-size: 0.8rem;
    padding-top: 0.3rem;
}

td {
    vertical-align: top;
}